* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 40px;
  font-family: "微軟正黑體";
  font-size: 19px;
}

img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}