/* navBar */
.mynavbar {
  background:#fddbdc;
  font-size: 21px;
  position: fixed;
  width: 100vw;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1px 4px rgb(189, 189, 189);
}

.mynavbar .navbar-brand {
  padding: 0;
}

/* navBrand */
.navbar img {
  max-width: 165px;
}

.mynavbar .nav-item a {
  text-decoration: none;
  color: #656565;
  letter-spacing: 2.3px;
}

.mynavbar a.nav-link:hover {
  color: #bd2f3d;
}

/* mobie navBar */
.mynavbar-toggler-icon img {
  width: 50px;
}

/* menuBar */
#menuBar {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 300px;
  right: 5px;
  background: #d4834c;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgb(97, 85, 85);
}

#menuBar li {
  padding: 10px 20px;
  color: #fff;
}

#menuBar li:hover {
  background: #b17c59;
  border-radius: 5px;
}

#menuBar li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#menuBar li a:hover {
  color: #f0b811;
}



/* 內容 */
#home,
#about,
#favourite,
#job {
  padding-top: 85px;
}

/* 首頁跟關於我的照片 */
.mypic:hover {
  opacity: 0.7;
}

#home h1 {
  text-shadow: 2px 2px rgb(197, 194, 194);
  cursor: pointer;
  transition: 2s;
}

#home h1:hover {
  transform: rotate(180deg);
}

/* about */
.myaccordion .card-header {
  background: #e07781;
}

.myaccordion .btn-link {
  color: white;
}

.myaccordion .btn-link:hover {
  color: #fdfadb;
}

.link-icon img {
  cursor: pointer;
}

.link-icon img:hover {
  opacity: 0.7;
}


/* favourite */

/* img zoom */
.fav-card .img-zoom {
  max-width: 350px;
  overflow: hidden; 
}

.fav-card .img-zoom img {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.fav-card .img-zoom:hover img {
  transform: scale(1.07);
}

/* card text */
.fav-card .card-text {
  font-size: 15px;
  text-align: justify;
}

.fav-card .text-address {
  font-size: 13px;
}

/* 幻燈片 */
#mycarousel .carousel-inner {
  width: 100%;
  max-height: 290px; 
  overflow: hidden;
}

#mycarousel .carousel-indicators {
  bottom: -50px; 
}

#mycarousel .carousel-indicators li {
  background: #61454e;
  ;
}

@media (max-width: 992px) {
  #mycarousel .carousel-inner {
    max-height: 350px; 
  }
}

/* 頁籤 */
.mynav .nav-link.active{
  background: #f1858f;
}

.my-tab {
  padding: 15px;
  line-height: 1.8;
}

.my-tab .tab-pane {
  text-align: justify;
}


/* job */

#jobtb {
  width: 100%;
}

#jobtb th,
#jobtb td {
  vertical-align: middle;
}


/* Alert&Footer */

.welcome-alert {
  position: fixed; 
  width: 100vw; 
  bottom: 0; 
  z-index: 998;"
}

footer {
  background: #6f4a49;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  position: fixed;
  width: 100vw;
  bottom: 0;
}
